<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>    
  <!-- Parameters used by tests at runtime -->  
  <TestRunParameters>  
    <!--<Parameter name="webAppUri" value="http://gc-temperatureconverter-qa.azurewebsites.net" />  -->
    <Parameter name="webAppUri" value="https://bpc-x00151295-qa.azurewebsites.net/bloodpressure" />
  </TestRunParameters>  
</RunSettings> 
